<% if @project %>
  <% content_for :title_bar do %>
    <%= render :partial => 'projects/nav', :locals => {:project => @project} %>
  <% end %>
  <h2>Project members</h2>
<% else %>
  <h2>All Users</h2>
<% end %>
<ul>
    <% @users.each do |user| %>
      <li>
          <%= user %><%= link_to 'Remove', project_user_path(@project, user),
                                 :data => { :confirm => "Are you sure you want to remove #{user.email} from this project?" },
                                 :method => :delete if @project %>
          <% if ((can? :manage, User) || @project.admins.include?(user)) && @project %>
            &nbsp;&nbsp;
            <% if @project.admins && @project.admins.include?(user) %>
              <%= link_to 'Remove as Project Admin', project_path(@project.id, :remove_admin => true, :user_id => user.id),
                          :data => { :confirm => "Are you sure you want to remove #{user.email} as a Project admin" },
                          :method => :put %>
            <% else %>
              <%= link_to 'Make Project Admin', project_path(@project.id, :make_admin => true, :user_id => user.id),
                          :data => { :confirm => "Are you sure you want to make #{user.email} a Project admin" },
                          :method => :put %>
            <% end %>
          <% end %>
          <% if (can? :manage, User) && !@project %>
            &nbsp;&nbsp;
            <% if user.is? :admin %>
              <%= link_to 'Remove Admin', user_path(user.id, :remove_admin => true),
                          :data => { :confirm => "Are you sure you want to remove #{user.email} as admin?" },
                          :method => :put %>
            <% else %>
              <%= link_to 'Make Admin', user_path(user.id, :make_admin => true),
                          :data => { :confirm => "Are you sure you want to make #{user.email} an admin?" },
                          :method => :put %>
            <% end %>
          <% end %>
      </li>
    <% end %>
</ul>
<% if @project %>
  <h2>Add a new member</h2>
  <div class="form-wrapper">
      <%= form_for project_users_path(@project, @user) do |f| %>
        <% fields_for :user do |u| %>
          <div class="field-wrapper">
              <%= u.label :email %>
              <div class="field"><%= u.text_field :email %></div>
          </div>
          <div class="field-wrapper">
              <%= u.label :name %>
              <div class="field"><%= u.text_field :name %></div>
          </div>
          <div class="field-wrapper">
              <%= u.label :initials %>
              <div class="field"><%= u.text_field :initials %></div>
          </div>
          <div class="actions">
              <%= u.submit 'Add user' %>
          </div>
        <% end %>
      <% end %>
<% end %>
</div>
